/* global settings */
html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(246, 134, 93);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: visible;
}

::-webkit-scrollbar {
    width: 0.4vw;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(127, 121, 240);
    border-radius: 50px;
    height: 5vh;
}

::-webkit-scrollbar-button {
    background-color: gray;
}

::-webkit-scrollbar-track-piece {
    background-color: gray;

}




/* header */
.sticky-nav-bar {
    position: sticky;
    top: 0px;
    height: 10vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* leftSide */
.logo {
    width: 15vw;
    padding-left: 1vw;
    font-size: 3vh;
}

/* middle */
.search {
    font-size: 3vh;
    width: 20vw;
    display: flex;
    justify-content: center;
}

.unfold {
    animation-duration: .3s;
    animation-direction: alternate;
    animation-name: unfold;
    transform-origin: top left;
}

@keyframes unfold {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.search>input {
    font-size: 2vh;
    border: none;
    border-bottom: 0.1vh black solid;
    outline: none;
    background-color: transparent;

}

/* rightside */
.functions {
    width: 15vw;
    font-size: 3vh;
    display: flex;
    justify-content: space-evenly;
}

/* collection */
.collection {
    /* frame */
    width: 20vw;
    height: 40vh;
    background-color: rgb(211, 208, 212);
    position: absolute;
    top: 10vh;
    right: 0vw;
    overflow-y: scroll;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;

}

/* internal */
.merchTr img {
    max-width: 25px;
    min-height: 25px;
}

#collectionToggler:checked~.collection {
    transform: scaleY(1);
    opacity: 1;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

/* main */
/* picSlideShow */
.slideShow {
    width: 40vw;
    height: 40vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 10vh;
    display: flex;
    overflow-x: hidden;
    border: 3vh solid rgb(7, 14, 63);
    border-radius: 25px;
}

.slidePic {
    min-width: 40vw;
    min-height: 40vh;
    width: 40vw;
    height: 40vh;
    z-index: 0;
}

.ctrlBtn {
    top: 28vh;
    height: 10vh;
    width: 5vw;
    background-color: transparent;
    opacity: 0.3;
    transition: opacity .5s linear;
    z-index: 5;
}

.left {
    position: absolute;
    left: 30%;
}

.right {
    position: absolute;
    right: 30% !important;
}

.ctrlBtn:hover,
.ctrlBtnRight:hover {
    opacity: 1;
    transition: opacity .5s linear;
}

@keyframes emerge {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* filter */
.filterSelect {
    position: relative;
    left: 2vw;
    height: 10vh;
    width: 30vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240, 190, 128);
}

.filterTitle {
    position: relative;
    left: -4vw;
    width: 5vw;
    height: 10vh;
    background-color: rgb(240, 111, 60);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterSelect select {
    position: relative;
    left: -4vw;
    height: 5vh;
    width: 5vw;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgb(235, 237, 199);
    text-align: center;
}

/* loading */
.loading {
    position: absolute;
    top: 90vh;
    left: 47vw;
}

/* merchesTable */
/* merched */
.merchTable {
    width: 70vw;
    height: auto;
    margin-left: 15vw;
    margin-bottom: 5%;
    background-color: rgba(245, 245, 220);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
}

.merch {
    height: 40vh;
    width: 20vw;
    background-color: rgb(239, 228, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 5%;
}

.merch ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.merch ul li:nth-child(1),
.merch ul li:nth-child(2) {
    width: 9vw;
}

.merch ul li:nth-child(2) div button {
    background-color: transparent;
    border: none;
    outline: none;
}

.merchPic {
    height: 25vh;
    width: 13vw;
}

/* moreMerchesBtn */
.moreMerches {
    width: 4vw;
    height: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 33vw;
    margin-right: 33vw;
    background-color: rgb(238, 139, 81);
    color: antiquewhite;
    outline: none;
    border: none;
    border-radius: 25px;
}