/* global settings */
html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(246, 134, 93);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: visible;
}

::-webkit-scrollbar {
    width: 0.4vw;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(127, 121, 240);
    border-radius: 50px;
    height: 5vh;
}

::-webkit-scrollbar-button {
    background-color: gray;
}

::-webkit-scrollbar-track-piece {
    background-color: gray;

}

main img {
    height: 25vh;
    width: 8vw;
    position: absolute;
    left: 33vw;
    top: 5vh;
}

.logoTitle {
    font-family: cursive;
    font-size: 8vh;
    font-weight: bold;
    position: absolute;
    left: 40vw;
    top: 5vh;
}

.data_form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26vw;
    height: 50vh;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    box-shadow: 0 0 1vh;
    background-color: rgba(255, 228, 196, 0.298);
}

.data_form input {
    width: 10vw;
}

.data_form h1 {
    height: 4vh;
}

.acc,
.pwd {
    height: 10vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.date {
    height: 10vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    height: 4vh;
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 146, 116);
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

.btn:hover {
    background-color: rgb(255, 110, 38);
    color: whitesmoke;
    transition: background-color .5s linear, color .5s linear;
}