<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="A shop that sells GIGANTIC sausages">
    <title>GiganticSausage</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app">
        <header class="sticky-nav-bar">
            <div class="logo">LOGO</div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input id="searchBar" type="text" onclick="unfold()" :placeholder="placeHolder" v-model="inputSearch">
            </div>
            <div class="functions">
                <label for="collectionToggler"><i class="fa-regular fa-heart"></i></label>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-right-to-bracket"><a href="register.html"></a></i>
                <input id="collectionToggler" type="checkbox" style="display:none;">
                <div class="collection">
                    <table>
                        <tr>
                            <td></td>
                            <td>品名</td>
                            <td>價格</td>
                        </tr>
                        <tr class="merchTr" v-for="(item,index) in collection">
                            <td> <img :src="item.merchPicSrc" alt="merchPic"> </td>
                            <td> {{item.merchName}} </td>
                            <td> {{item.merchPrice}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </header>
        <main>
            <div class="slideShow">
                <div class="ctrlBtn left" onclick="slideToRight()"><i class="fa-solid fa-chevron-left"></i></div>
                <div class="ctrlBtn right" onclick="slideToLeft()"><i class="fa-solid fa-chevron-right"></i></div>
                <img src="pictures/slide1.jpg" alt="picSlideShow" class="slidePic" style="transform:translateX(0);">
                <img src="pictures/slide2.jpg" alt="picSlideShow" class="slidePic" style="transform:translateX(0);">
                <img src="pictures/slide3.jpg" alt="picSlideShow" class="slidePic" style="transform:translateX(0);">
            </div>
            <div class="filterSelect">
                <span class="filterTitle">篩選</span>
                <select v-model="filter.flavor">
                    <option value="all">all</option>
                    <option value="normal">normal</option>
                    <option value="sweet">sweet</option>
                    <option value="spicy">spicy</option>
                    <option value="pepper">pepper</option>
                    <option value="curry">curry</option>
                    <option value="garlic">garlic</option>
                    <option value="wine">wine</option>
                </select>
                <select v-model="filter.size">
                    <option value="15cm">15cm</option>
                    <option value="10cm">10cm</option>
                    <option value="5cm">5cm</option>
                </select>
                <select v-model="filter.price" style="width:7vw;">
                    <option value="none">無</option>
                    <option value="price_lowToHigh">價格:低到高</option>
                    <option value="price_highToLow">價格:高到低</option>
                </select>
            </div>
            <div class="loading" v-if="loading">loading...</div>
            <div class="merches" v-else>
                <!--做出有"看更多商品"的功能(可以自動添加更多的div及內容) -->
                <div class="merchTable" id="merchTable">
                    <div class='merch' v-for="(item,index) in onList">
                        <img :src='item.merchPicSrc' alt='sausagePic' class='merchPic' @click='goToMerch(index)'>
                        <ul>
                            <li>
                                <div> {{item.merchName}} </div>
                                <div>價格: {{item.merchPrice}} </div>
                            </li>
                            <li>
                                <div><button @click="changeLike(index)">
                                        <i class="fa-regular fa-heart" v-if="!item.like"></i>
                                        <i class="fa-solid fa-heart" v-else></i>
                                    </button></div>
                                <div><i class="fa-solid fa-cart-shopping shoppingCart"></i></div>
                            </li>
                        </ul>
                    </div>
                    <button class="moreMerches" @click="moreMerches()">More</button>
                </div>
            </div>
        </main>
    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.2/axios.js'
        integrity='sha512-9JZfp0g+DImom5Z/xNmIXW55czwHWQjf9Wyyw209+k3vjBLF+yb54Rsk5mMwE9HTpUhxYTocgniAlgf94qi1Tg=='
        crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="js/shop.js" defer></script>
    <script src="https://kit.fontawesome.com/cce369cee1.js" crossorigin="anonymous"></script>
</body>

</html>